<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/responsive.css">
    <script defer src="/scripts/notices.js"></script>
    <title>New Article</title>
  </head>
  <body>
    <div class="container noticeForm">
    <h1>Add a new notice</h1>
    <form action="/notices/new" method="POST">
      <div class="eventDate inputContainer">
        <label for="eventInputDate" class="eventInputLabel"> Event Date(Ex:12 June): </label>
        <br>
        <input type="text" name="eventDate" id="eventDate" required/>
      </div>
      <div class="eventInputTitle inputContainer">
        <label for="title" class="eventInputLabel"> Title: </label>
        <br>
        <input type="text" name="title" id="title" required/>
      </div>
      <div class="eventInputDesc inputContainer">
        <label for="description" class="eventInputLabel"> Description: </label>
        <br>
        <textarea type="text" name="description" id="description" required></textarea>
      </div>
      <div class="eventInputMarkdown inputContainer">
        <label for="markdown" class="eventInputLabel"> Markdown: </label>
        <br>
        <textarea type="text" name="markdown" id="markdown" required></textarea>
      </div>
      <div class="editSectionBtns">
        <button type="submit" class="btn editBtn">Save</button>
        <a href="/notices"><button type="button" class="btn deleteBtn">Cancel</button></a>
      </div>
    </div>
  </body>
</html>
