<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Article</title>
  </head>
  <body>
    <h1><%=locals.article.title.toUpperCase()%></h1>
    <a href="/notices"><button class="btn eventBtn allEventsBtn">All Events</button></a>
    <a href="<%="/notices/edit/"+article._id%>"><button class="btn editBtn">Edit</button></a>
    <div><%=locals.article.createdAt.toLocaleDateString()%></div>
    <div><%-locals.article.purifiedHtml%></div>
  </body>
</html>
