<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <title>Article</title>
  </head>
  <body>
    <section class="container articleSection">
      <a href="/notices"><button class="btn eventBtn allEventsBtn">All Events</button></a>
      
      <%if(locals.req.session.userId==article.publisherId){%>
        <a href="<%="/notices/edit/"+article._id%>"><button class="btn editBtn">Edit</button></a>
      <%}%>
      <p style="text-align: right; margin-top: 15px;">Published Date: <%=locals.article.createdAt.toLocaleDateString()%></p>
      <div class="articleContainer">
      <h1><%=locals.article.title.toUpperCase()%></h1>
      <div><%-locals.article.purifiedHtml%></div>
    </div>
  </section>
  </body>
</html>
