<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/adminDashboard.css">
  <link rel="stylesheet" href="/css/responsiveAdmin.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Admin Dashboard</title>
</head>

<body>
  <nav>
    <div class="navContent">
      <div class="left">
        <h2>Dashboard</h2>
      </div>
      <div class="right">
        <h4 id="adminName">Yogi Naresh Nath</h4>
        <span class="profileImg"><img src="/img/teachersImg/yogiNareshNath.jpg" alt=""></span>
      </div>
    </div>
  </nav>
  <section class="userCountSection">
    <div class="card studentCard">
        <div class="userCount">288</div>
        <div class="userType">Students</div>
    </div>
    <div class="card teacherCard">
        <div class="userCount">22</div>
        <div class="userType">Teachers</div>
    </div>
    <div class="card adminCard">
        <div class="userCount">01</div>
        <div class="userType">Admin</div>
    </div>
  </section>
  <section class="userList">
      <div class="lists">
        <div class="usersBtn">
            <a href="" class="studentListBtn activeUserList">Student</a>
            <a href="" class="teacherListBtn">Teacher</a>
            <a href="" class="adminListBtn">Admin</a>
        </div>
        <div class="tableTop">
            <span class="left">Students List</span>
            <div class="right">
                <input type="text" placeholder="Search Student by Name">
                <a class="addBtn" href="/admin/users/new">Add</a>
            </div>
        </div>
        <div class="tableContainer">
        <table class="userListTable">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Sample Name</td>
                    <td>sampleemail.123@gmail.com</td>
                    <td>9899999989</td>
                    <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                    <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Sample Name</td>
                    <td>sampleemail.123@gmail.com</td>
                    <td>9899999989</td>
                    <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                    <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Sample Name</td>
                    <td>sampleemail.123@gmail.com</td>
                    <td>9899999989</td>
                    <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                    <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Sample Name</td>
                    <td>sampleemail.123@gmail.com</td>
                    <td>9899999989</td>
                    <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                    <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Sample Name</td>
                    <td>sampleemail.123@gmail.com</td>
                    <td>9899999989</td>
                    <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                    <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Sample Name</td>
                    <td>sampleemail.123@gmail.com</td>
                    <td>9899999989</td>
                    <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                    <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Sample Name</td>
                    <td>sampleemail.123@gmail.com</td>
                    <td>9899999989</td>
                    <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                    <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Sample Name</td>
                    <td>sampleemail.123@gmail.com</td>
                    <td>9899999989</td>
                    <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                    <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
  </section>
</body>

</html>





<!-- <a ">Add a User</button> -->