<p><%=typeof flashMessage!=='undefined'?flashMessage:""%></p>
<form action="/admin/users" method="post">
    <%-include('../components/userDetailFormFields',{fullName:locals.fullName,email:locals.email,phoneNumber:locals.phoneNumber})%>
    
    <button type="submit">Add User</button>
</form>
    <a href="/admin">Cancel</a>