<%-include('../components/header')%>
<div style="padding: 10rem">
  <h1>Courses We Offer</h1>
  <ul>
    <li>Plus 2 Courses</li>
    <li>Bachelors Courses</li>
    <li>Primary Education</li>
    <li>Secondary Education</li>
  </ul>
</div>
<%-include('../components/footer')%>
