<%-include('../components/header')%>
<div class="courses">
  <h1 class="coursesHead">Courses</h1>
  <div class="course">
    <div class="courseImg">
    </div>
    <div class="courseInfoContainer">
      <div class="courseInfo">
        <h1 class="courseTitle">Bachelor of Science in Computer Science and Information Technology - B.Sc. CSIT</h1>
        <p class="courseAbstract"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur commodi necessitatibus in quia non qui alias harum blanditiis, dicta eius, voluptatibus porro dignissimos minima aspernatur ratione maxime delectus dolores sapiente a eos. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum ipsam, omnis quibusdam fuga dolore sit odit modi eaque pariatur impedit qui, ut facilis dicta rerum quae similique deleniti est recusandae eligendi autem.</p>
      </div>
      <a class="readMoreBtn">Read more</a>
    </div>
  </div>
  <div class="course">
    <div class="courseImg">
    </div>
    <div class="courseInfoContainer">
      <div class="courseInfo">
        <h1 class="courseTitle">Bachelor in Computer Application - BCA</h1>
        <p class="courseAbstract"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur commodi necessitatibus in quia non qui alias harum blanditiis, dicta eius, voluptatibus porro dignissimos minima aspernatur ratione maxime delectus dolores sapiente a eos. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum ipsam, omnis quibusdam fuga dolore sit odit modi eaque pariatur impedit qui, ut facilis dicta rerum quae similique deleniti est recusandae eligendi autem.</p>
      </div>
      <a class="readMoreBtn">Read more</a>
    </div>
  </div>
  <div class="course">
    <div class="courseImg">
    </div>
    <div class="courseInfoContainer">
      <div class="courseInfo">
        <h1 class="courseTitle">Bachelor in Business Studies - BBS</h1>
        <p class="courseAbstract"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur commodi necessitatibus in quia non qui alias harum blanditiis, dicta eius, voluptatibus porro dignissimos minima aspernatur ratione maxime delectus dolores sapiente a eos. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum ipsam, omnis quibusdam fuga dolore sit odit modi eaque pariatur impedit qui, ut facilis dicta rerum quae similique deleniti est recusandae eligendi autem.</p>
      </div>
      <a class="readMoreBtn">Read more</a>
    </div>
  </div>
  <div class="course">
    <div class="courseImg">
    </div>
    <div class="courseInfoContainer">
      <div class="courseInfo">
        <h1 class="courseTitle">+2 in Science, Commerce, Hotel Management</h1>
        <p class="courseAbstract"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur commodi necessitatibus in quia non qui alias harum blanditiis, dicta eius, voluptatibus porro dignissimos minima aspernatur ratione maxime delectus dolores sapiente a eos. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum ipsam, omnis quibusdam fuga dolore sit odit modi eaque pariatur impedit qui, ut facilis dicta rerum quae similique deleniti est recusandae eligendi autem.</p>
      </div>
      <a class="readMoreBtn">Read more</a>
    </div>
  </div>
</div>
<%-include('../components/footer')%>