<section id="footerSection">
    <footer>
      <div class="footerInfo">
        <div class="address">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span>Hetauda-5, Piple</span>
        </div>
        <div class="phone">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span>057-526660</span>
        </div>
        <div class="gmail">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>zenithCollege.official@gmail.com</span>
        </div>
      </div>
      <div class="socialMediaLink">
        <a href="" class="fbLink"
          ><i class="fa fa-facebook" aria-hidden="true"></i
        ></a>
        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      </div>
    </footer>
  </section>
</body>
</html>