<div class="form-row">
    <input type='text' required name="fullName" id="fullName" placeholder="Enter your full name" value="<%=locals.fullName?locals.fullName:""%>">
</div>
<div class="form-row">
    <input type='email' required name="email" id="email" placeholder="Enter your email" value="<%=locals.email?locals.email:""%>">
</div>
<div class="form-row">
    <input type='text' required name="phoneNumber" id="phoneNumber" maxlength="10" minlength="10" placeholder="Enter your phone number" value="<%=locals.phoneNumber?locals.phoneNumber:""%>">
</div>