<div class="form-row">
    <label for="fullName">FullName</label>
    <br/>
    <input type='text' required name="fullName" id="fullName" value="<%=locals.fullName?locals.fullName:""%>">
</div>
<div class="form-row">
    <label for="email">Email</label>
    <br/>
    <input type='email' required name="email" id="email" value="<%=locals.email?locals.email:""%>">
</div>
<div class="form-row">
    <label for="phoneNumber">Phone Number</label>
    <br/>
    <input type='text' required name="phoneNumber" id="phoneNumber" value="<%=locals.phoneNumber?locals.phoneNumber:""%>">
</div>