<%-include('./components/header.ejs',{req:req})%>

<section id="home">
  <div class="landingArea">
    <div class="landingContent">
      <h1>Lorem ipsum dolor</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam veniam qui
        ipsa numquam quaerat officia, ducimus veritatis atque ut est modi
        repellat impedit consequatur
      </p>
      <%if(req.user==undefined){%>
        <div class="signInUpBtnContainer" style="margin-top: 50px;">
          <a class="btn signUpBtn" href="/signup">SignUp</a>
          <a class="btn loginBtn" style="background: transparent;" href="/login">LogIn</a>
        </div>
      <%}%>
    </div>
  </div>
</section>

<%-include('./components/footer.ejs')%>
