<%-include('./components/header.ejs')%>

<section id="home">
  <div class="landingArea">
    <div class="landingContent">
      <h1>Lorem ipsum dolor</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam veniam qui
        ipsa numquam quaerat officia, ducimus veritatis atque ut est modi
        repellat impedit consequatur
      </p>
      <a class="btn subscribeBtn" href="/signup">SignUp</a>
      <a class="btn subscribeBtn" href="/login">LogIn</a>
    </div>
  </div>
</section>

<%-include('./components/footer.ejs')%>
