@media screen and (max-width: 1025px) {
  .courses{
    width:90%;
  }
  .course{
    border: 2px solid;
    padding: 1rem;
  }
  .courseTitle{
    margin-bottom: 1rem;
  }
  .loginSignUpContainer .leftSection{
    display: none;
  }
  .loginSignUpContainer .rightSection{
    left: 50%;
  }
  .signUpInsteadLine, .loginInsteadLine{
    display: block;
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .menuIcon {
    display: block;
  }
  .navMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: var(--navHeight);
    left: 0;
    width: 100%;
    height: 0;
    z-index: 99;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    background-color: white;
    overflow: hidden;
    transition: 0.7s;
  }
  .navMenu a {
    margin: 0.5rem 0;
    color: var(--textColor);
  }
  .collegeEventDesc {
    flex-direction: column;
  }
  .eventTopContent {
    padding: 0;
    width: 100%;
  }
  .eventTopImg {
    min-width: auto;
    width: 100%;
    margin-bottom: 2rem;
  }
  .event, .course{
    flex-direction: column;
  }
  .courseImg{
    height: 300px;
    width: 100%;
  }
  .courseInfoContainer{
    width: 100%;
    margin-top: 1rem;
    padding-left: 1rem;
  }
  .date {
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: 200px;
  }
  .eventInfoContainer {
    width: 100%;
    border-radius: 0 0 5px 5px;
    text-align: center;
  }
  .mainEvents {
    width: 90%;
  }
  .readMoreBtn {
   left: 20px;
  }
}
@media screen and (max-width: 620px) {
  * {
    font-size: 90%;
  }
  .container{
    width: 85%;
  }
  .mainLogo {
    width: 50px;
    height: 50px;
  }
  .landingContent {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  footer {
    flex-direction: column;
  }
  .footerInfo {
    margin: 1rem 0 0 0;
  }
  .fa-facebook {
    width: 26px;
    height: 26px;
  }
  .footerInfo span {
    font-size: 0.95rem;
  }
  .mainEvents {
    width: 98%;
  }
}
@media screen and (max-width: 450px) {
  .container{
    width: 90%;
  }
  .delTxt, .editTxt{
    display: none;
  }
  .editBtn{
    padding: 0.8rem 0.95rem;
  }
  .articleSection .editBtn{
    padding: 0.7rem 1.5rem;
  }
  .deleteBtn{
    padding: 0.8rem 1rem;
  }
  .fa-pencil-square-o{
    margin-right: 0;
  }
  .events{
    margin: 2rem;
  }
  .courseImg{
    display: none;
  }
  .courseInfoContainer{
    width: 100%;
    margin-top: 0;
  }
  .signInUpBtnContainer{
    display: inline-flex;
    flex-direction: column;

  }
  .signInUpBtnContainer>*
  {
    width: 160px;
    margin-bottom: 1rem;
  }
  .logSignUpForm{
    width: 320px;
  }
}
@media screen and (max-width: 330px) {
  .logSignUpForm{
    width: 280px;
  }
  .courseTitle{
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 300px) {
  * {
    font-size: 80%;
  }
  .fa-facebook {
    width: 23px;
    height: 23px;
  }
  .container{
    width: 95%;
  }
  .articleContainer{
    box-shadow: none;
    padding: 1rem;
  }
  .logSignUpForm{
    width: 250px;
  }
}
