* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
:root {
  --textColor: #0e2442;
  --activeMenuColor: #0095eb;
  --navHeight: 80px;
  --footerHeight: 120px;
  --loginLeftSectionWidth: 450px;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.17rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.75rem;
}
p {
  font-size: 1.05rem;
}
/* Navbar starting */
.activePageMenu {
  color: var(--activeMenuColor) !important;
}
#navSection {
  height: var(--navHeight);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(245, 245, 245);
}
.mainLogo {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}
.logoImg h3 {
  line-height: 1.3;
  font-size: 1.15rem;
}
nav,
footer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 800;
  color: var(--textColor);
}
a {
  text-decoration: none;
}
.navMenu a {
  position: relative;
  padding: 0.4rem;
  margin: 0 0.4rem;
  color: var(--textColor);
  font-size: 1.1rem;
  transition: 0.5s;
}
.navMenu a::before{
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background: var(--activeMenuColor);
  border-radius: 5px;
  width: 0%;
  height: 3px;
  transition: 0.7s;
}

.navMenu a:hover::before{
  width: 100%;
}
.menuIcon {
  display: none;
  overflow: hidden;
}
.line {
  width: 25px;
  height: 4px;
  background: var(--textColor);
  margin: 3px;
  border-radius: 2px;
  transition: 0.8s;
}
.rotateLines .line:nth-child(2) {
  transform: translateX(50px);
}
.rotateLines .line:first-child {
  transform: translateY(7px) rotate(45deg);
}
.rotateLines .line:last-child {
  transform: translateY(-7px) rotate(-45deg);
}

/* Navbar Ending */
/* Main Page Body Starting */
.landingArea {
  position: relative;
  background: url("../img/clgImg.jpg") no-repeat center center/cover;
  height: 600px;
  color: white;
}
.landingArea::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}
.landingContent {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 50%;
  z-index: 2;
  letter-spacing: 1px;
}
.landingContent h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.landingContent p {
  font-size: 1.1rem;
}
.btn {
  color: white;
  background-color: var(--textColor);
  padding: 0.9rem 3rem;
  font-size: 1.3rem;
  border: none;
  outline: none;
  border: 2px solid white;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
.signUpBtn, .loginSignUpContainer .leftSection .leftBtn{
  background-color: white;
  color: var(--textColor);
  margin-right: 10px;
}
.signUpBtn:hover {
  opacity: 0.9;
}
/* Main Page Body Ending */
/* Footer starting */
#footerSection {
  display: flex;
  justify-content: center;
  background: rgb(230, 230, 230);
}
footer {
  min-height: var(--footerHeight);
}
.socialMediaLink {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialMediaLink a {
  font-size: 1.9rem;
  margin: 0.7rem;
}
.fbLink {
  font-size: 1.2rem !important;
}
.fa {
  transition: 0.5s;
}
.fa-facebook {
  color: #1873eb;
  border: 2px solid #1873eb;
  padding: 0.5rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-grid !important;
  place-content: center;
}
.fa-facebook:hover {
  color: white;
  background-color: #1873eb;
}
.fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-youtube-play {
  color: red;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube-play:hover {
  scale: 1.1;
}
.address,
.phone,
.gmail {
  margin: 8px 0;
}
.footerInfo {
  color: var(--textColor);
}
.footerInfo span {
  font-size: 1rem;
}
.footerInfo .fa {
  width: 30px;
  font-size: 1.2rem;
  text-align: center;
}
.fa-map-marker {
  font-size: 1.3rem !important;
}
.fa-envelope {
  font-size: 1.05rem !important;
}
/* Footer Ending */
/* Events and courses page css*/
.collegeEventDesc {
  display: flex;
  width: 80%;
  margin: 3rem auto;
}
.eventTopImg {
  background: url("../img/eventsImg.jpg") no-repeat center center/cover;
  width: 500px;
  min-width: 280px;
  min-height: 300px;
}
.eventTopContent {
  width: 700px;
  padding: 0 0 0 4rem;
  font-size: 1.3rem;
  text-align: justify;
}
.eventHead{
  color: var(--textColor);
  font-size: 3rem;
  margin: 5rem 0 -2rem 3rem;
}
.noEventsMsg {
  font-size: 1.5rem;
  margin: 3rem;
}
.eventBtn {
  margin-top: 4rem;
  margin-left: 3rem;
  background-color: var(--textColor);
  padding: 0.7rem;
  border-radius: 10px;
}
.eventBtn:hover {
  opacity: 0.8;
}
.eventBtn a {
  color: white;
  font-size: 1.2rem;
}
.mainEvents {
  width: 80%;
  margin: auto;
}
.events, .courses{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}
.event, .course{
  width: 100%;
  display: flex;
  color: var(--textColor);
  margin: 1.5rem 0;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
}
.date{
  width: 30%;
  display: grid;
  place-content: center;
  text-align: center;
  border-radius: 5px 0 0 5px;
  background: #0e2442;
  color: white;
  transition: 0.5s;
}
.eventInfoContainer, .courseInfoContainer {
  position: relative;
  padding: 1rem;
  padding-bottom: 80px;
  width: 70%;
  transition: 0.5s;
  border-radius: 0 5px 5px 0;
}
.eventAbstract, .courseAbstract{
  font-size: 1rem;
  text-align: justify;
  margin-top: 0.5rem;
  min-height: 70px;
  font-size: 1rem;
}
.coursesHead, .teachersHead{
  color: var(--textColor);
  font-size: 2.5rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-top: 1rem;
}
.courses{
  width: 70%;
  margin: 2rem auto;
}
.course{
  box-shadow: none;
  min-height: 350px;
  transition: 0.2s;
  margin: 3rem 0;
  padding: 1rem;
}
.course:hover{
  box-shadow: 0 0 15px rgb(121, 121, 121);
  background-color: var(--textColor);
  color: white;
}
.courseImg{
  background: url("/img/sampleCourseImg.jpg") no-repeat center center/cover;
  width: 45%;
  border-radius: 5px 0 0 5px;
}
.courseInfoContainer{
  width: 55%;
  padding-left: 2rem;
}
.event:hover .date {
  color: var(--textColor);
  background: white;
}
.event:hover .eventInfoContainer {
  color: white;
  background: var(--textColor);
}
.event:hover .readMoreBtn {
  color: white;
  background: transparent;
  border: 1px solid white;
}
.eventTitle, .courseTitle{
  font-size: 1.8rem;
}
.day {
  font-size: 5rem;
}
.month {
  font-size: 2rem;
}
.readMoreBtn {
  position: absolute;
  bottom: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #dbdbdb;
  text-align: center;
  cursor: pointer;
  padding: 0.7rem;
  font-size: 1rem;
  color: var(--textColor);
}
.readMoreBtn:hover {
  transition: 0.5s;
  background: white !important;
  color: var(--textColor) !important;
}
.editBtn,
.deleteBtn {
  background: black;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border: none;
}
.deleteBtn {
  background: #d64d49;
  color: white;
}
.editBtn a {
  color: white;
}
.deleteBtn:hover {
  background: #c7211b;
}
.editBtn {
  padding: 0.7rem 1.5rem;
  background: #58b458;
  margin-left: 10px;
}
.editBtn:hover {
  background: #008200;
}
.allEventsBtn {
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  margin: 0;
}
.fa-pencil-square-o {
  margin-right: 0.3rem;
}
.deleteAndEdit {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.container {
  width: 80%;
  margin: 2rem auto;
}
.articleContainer {
  margin-top: 2rem;
  box-shadow: 0px 0px 10px #e1e0e0;
  padding: 2rem;
  padding-bottom: 4rem;
  border-radius: 10px;
  text-align: justify;
}
.editTitle {
  color: var(--textColor);
}
.articleContainer h1,
.articleContainer h2,
.articleContainer h3,
.articleContainer h4,
.articleContainer h5,
.articleContainer h6 {
  margin-top: 1.5rem;
  color: var(--textColor);
}
.articleContainer p {
  margin-top: 0.8rem;
}
.noticeForm input,
.noticeForm textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
  overflow: hidden;
}
.noticeForm textarea {
  resize: none;
}
.inputContainer {
  margin-top: 1.5rem;
}
.eventInputLabel {
  color: var(--textColor);
  font-size: 0.9rem;
}
.editSectionBtns {
  margin-top: 2rem;
}
.editSectionBtns .editBtn {
  margin-left: 0;
  margin-right: 10px;
}
/* Login Section */
.loginSignUpContainer{
  position: relative;
  width: 100%;
  height: 100vh;
  /* background-color: blue; */
}
.loginSignUpContainer .leftSection{
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--textColor);
  color: white;
  width: var(--loginLeftSectionWidth);
  height: 100vh;
  display: grid;
  place-items: center;
}

.loginSignUpContainer .leftSection .content{
  width: 80%;
  text-align: center;
}
.loginSignUpContainer .leftSection .content > *{
  margin: 1.5rem 0;
}
.loginSignUpContainer .leftSection .content .btn{
  padding: 0.7rem 3rem;
  margin-top: 0rem;
  display: inline-block;
}
.loginSignUpContainer .rightSection{
  position: absolute;
  top: 50%;
  left: calc(var(--loginLeftSectionWidth) + (100vw - var(--loginLeftSectionWidth))/2);
  transform: translate(-50%, -50%);
}
.logSignUpForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  padding: 1rem 1rem;
  box-shadow: -3px -3px 15px rgba(0, 0, 0, 0.1), 3px 3px 15px rgba(0, 0, 0, 0.1);
  min-height: 430px;
  border-radius: 2%;
}
.logSignUpForm h1{
  color: var(--textColor);
  font-size: 2.5rem;
  margin: 5rem 0 1rem;
}
.userLogo{
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background-color: var(--textColor);
  position: absolute;
  transform: translateY(-50%);
  display: grid;
  place-content: center;
}
.fa-user{
  font-size: 3rem !important;
  color: white;
}
.logSignUpForm input {
  width: 100%;
  height: 3rem;
  border: 1.2px rgba(187, 187, 187, 0.5) solid;
  border-radius: 5px;
  padding: 0.8rem;
  padding-left: 2rem;
  font-size: 0.9rem;
  outline: none;
  margin: 0.5rem 0;
  color: var(--textColor);
}
.signUpContainer input{
  padding-left: 0.8rem;
}
.logSignUpForm .mainFormBtn {
  width: 150px;
  font-size: 1.1rem;
  padding: 0.7rem;
  margin: 1.5rem 0;
  border: none;
}
.logSignUpForm .mainFormBtn:hover, .loginSignUpContainer .leftSection .content .btn:hover{
  opacity: 0.9;
}
.form-row{
  position: relative;
  width: 90%;
}
.inputLogo{
 position: absolute; 
 top: 50%;
 transform: translateY(-50%);
 left: 12px;
 font-size: 1.2rem !important;
 color: var(--textColor);
 
}
.fa-user-circle{
  font-size: 1rem !important;
  left: 10px;
}
.signUpInsteadLine, .loginInsteadLine{
  display: none;
}

/* Teacher Information Page */
.teacherSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.teachersHead{
  text-align: center;
  margin-top: 2rem;
  flex-basis: 100%;
}
.teacherCard{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 1rem;
}
.teacherImg img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.teacherDetails{
  text-align: center;
}
.teacherDetails>*{
  margin-top: 0.5rem;
}
.teacherDetails .post{
  font-size: 1.2rem;
}
.teacherDetails .name{
  font-size: 1.5rem;
}
.noteBtn{
  display: inline-block;
  font-size: 1.1rem;
  padding: 0.6rem 3rem;
}