<%-include('../components/header')%>
<section style="padding: 10rem">
  <h1>Teachers</h1>
  <ul>
    <li>Shyam Lal Raut</li>
    <li>Sunny Pandey</li>
    <li>Rikesh Shrestha</li>
    <li>So on</li>
  </ul>
</section>
<%-include('../components/footer')%>
