<%-include('../components/header')%>
<section class="teacherSectionMain">
<section class="principalSection">
  <div class="teacherImg principalImg">
    <img src="/img/teachersImg/shreeKarki.jpg" alt="">
  </div>
  <div class="principalDetail">
    <h3 class="post">Principal</h3>
    <h1 class="name">Shree Karki</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nostrum facere vitae id eligendi iste ipsum cumque laudantium, cum assumenda ullam dicta fugit corrupti ex placeat impedit? </p>
    <div class="links">
      <i class="fa fa-phone" aria-hidden="true"></i>
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </div>
  </div>
</section>
<section class="teacherSection">
  <h1 class="teachersHead">Our Experienced Teachers</h1>
  <div class="teacherCard">
    <div class="teacherImg"><img src="/img/teachersImg/yogiNareshNath.jpg" alt=""></div>
    <div class="teacherDetails">
      <div class="name">Yogi Naresh Nath</div>
      <div class="post">Software Developer</div>
      <div class="links">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>
      <div class="btn noteBtn">Notes</div>
    </div>
  </div>
<div class="teacherCard">
    <div class="teacherImg"><img src="/img/teachersImg/umeshPathak.jpg" alt=""></div>
    <div class="teacherDetails">
      <div class="name">Umesh Pathak</div>
      <div class="post">Software Developer</div>
      <div class="links">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>
      <div class="btn noteBtn">Notes</div>
    </div>
  </div>
<div class="teacherCard">
    <div class="teacherImg"><img src="/img/teachersImg/sunnyPandey.jpg" alt=""></div>
    <div class="teacherDetails">
      <div class="name">Sunny Pandey</div>
      <div class="post">Software Developer</div>
      <div class="links">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>
      <div class="btn noteBtn">Notes</div>
    </div>
  </div>
<div class="teacherCard">
    <div class="teacherImg"><img src="/img/teachersImg/rikeshShrestha.jpg" alt=""></div>
    <div class="teacherDetails">
      <div class="name">Rikesh Shrestha</div>
      <div class="post">Software Developer</div>
      <div class="links">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>
      <div class="btn noteBtn">Notes</div>
    </div>
  </div>
<div class="teacherCard">
    <div class="teacherImg"><img src="/img/teachersImg/sonelalJha.jpg" alt=""></div>
    <div class="teacherDetails">
      <div class="name">Sonelal Jha</div>
      <div class="post">Mathematics Professor</div>
      <div class="links">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>
      <div class="btn noteBtn">Notes</div>
    </div>
  </div>
<div class="teacherCard">
    <div class="teacherImg"><img src="/img/teachersImg/shyamSam.jpg" alt=""></div>
    <div class="teacherDetails">
      <div class="name">Shyam Shah</div>
      <div class="post">Physics Professor</div>
      <div class="links">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>
      <div class="btn noteBtn">Notes</div>
    </div>
  </div>
</section>
</section>
<%-include('../components/footer')%>
